{% extends 'base.html' %}
{% block content %}
<div class="main_page">
    <h2>Game Tracker Platform</h2>
    <p>Welcome to our website — a place where you can easily track and manage your games.</p>
    <p>With our platform, you can:</p>
    <ul>
        <li>Add new games to your collection</li>
        <li>Edit game details anytime</li>
        <li>Delete games you no longer need</li>
        <li>View your personal profile with all your added games</li>
    </ul>
    <p>Stay organized and keep everything in one place.</p>
    <p>To create an account, please follow <a href="login.html">the link</a></p>
</div>
{% endblock %}















